<app-crypto-filter [cryptos]="top100Cryptos" (filteredCryptosEvent)="listenFilterCryptos($event)" (priceUnitEvent)="listenPriceUnit($event)"></app-crypto-filter>
<table class="table table-dark table-striped table-hover borderWhiteAll">
    <thead>
        <tr>
            <th class="borderWhiteAll clickHand" (click)="sortNumeric(sortValues.rank,'rank'); sortValues.rank = !sortValues.rank">#</th>
            <th class="borderWhiteAll clickHand" (click)="sortString(sortValues.name); sortValues.name = !sortValues.name">Name</th>
            <th class="borderWhiteAll clickHand" (click)="sortNumeric(sortValues.market_cap_usd,'market_cap_usd'); sortValues.market_cap_usd = !sortValues.market_cap_usd">Market Cap (USD)</th>
            <th class="borderWhiteAll clickHand" *ngIf="priceUnit === 'USD'" (click)="sortNumeric(sortValues.price_usd,'price_usd'); sortValues.price_usd = !sortValues.price_usd">Price (USD)</th>
            <th class="borderWhiteAll clickHand" *ngIf="priceUnit === 'BTC'" (click)="sortNumeric(sortValues.price_btc,'price_btc'); sortValues.price_btc = !sortValues.price_btc">Price (BTC)</th>
            <th class="borderWhiteAll clickHand" (click)="sortNumeric(sortValues.available_supply, 'available_supply'); sortValues.available_supply = !sortValues.available_supply">Volume (24h)</th>
            <th class="borderWhiteAll clickHand" (click)="sortNumeric(sortValues.percent_change_24h, 'percent_change_24h'); sortValues.percent_change_24h = !sortValues.percent_change_24h">Change (24h)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let crypto of filteredCryptos"
         [class.negative]="crypto.percent_change_24h < 0"
         [class.positive]="crypto.percent_change_24h >= 0">
            <td class="borderWhiteAll" [innerHTML]="crypto.rank"></td>
            <td class="borderWhiteAll" [innerHTML]="crypto.name"></td>
            <td class="borderWhiteAll" [innerHTML]="crypto.market_cap_usd | currency: 'USD': true: '1.0-0'"></td>
            <td class="borderWhiteAll" *ngIf="priceUnit === 'USD'" [innerHTML]="crypto.price_usd | currency"></td>
            <td class="borderWhiteAll" *ngIf="priceUnit === 'BTC'" [innerHTML]="crypto.price_btc "></td>
            <td class="borderWhiteAll" [innerHTML]="crypto.available_supply | number"></td>
            <td class="borderWhiteAll" [innerHTML]="crypto.percent_change_24h * .01 | percent: '1.1-2'"></td>
        </tr>
    </tbody>
</table>